# Kafka
bootstrap.servers=pkc-lz6r3.northeurope.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=GONNZNHEA54PC2CA
sasl.password=2JngP9DSASbyzEcJmFGMN6v9+0c7wxq9+TBt6ETrclnMx3aCXoz8lyPq1X0bCpSI

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000