# Best practice for higher availability in librdkafka clients prior to 1.7 (NN)
session.timeout.ms=45000

# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-w7d6j.germanywestcentral.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=WEOPBB4ZYNCDKX2Q
sasl.password=JsIij+/LwPp/aoFMmGLguTdoRz0OzZFQIbmArgWKEfMWzCdTitEN/dnwzCLQD5lR

# Best practice for higher availability in librdkafka clients prior to 1.7 (NN)
session.timeout.ms=45000

