# Best practice for higher availability in librdkafka clients prior to 1.7 (NN)
session.timeout.ms=45000

# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-1wvvj.westeurope.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=74WA6Q4KXCUBDNHY
sasl.password=a1vKQjYYpmNlblgsQHkSdFY9KDg/ykzkHAiBqMcaaqOV4d7NmXpH/QpbD9p5WSE/

# Best practice for higher availability in librdkafka clients prior to 1.7 (NN)
session.timeout.ms=45000

